@model Web.Models.BookingFullVM
@{
    ViewBag.Title = "BookingSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h1>Booking gennemført</h1>
<p>Her kan du se en oversigt over dine booking informationer</p>
<div>
    <p>
        Navn: @Model.FirstName @Model.LastName <br />
        Tlf: @Model.Phone<br />
        Beskrivelse: @Model.Description<br />
        Strattid: @Model.StartDate<br />
        Sluttid: @Model.EndDate<br />
    </p>
    <p> Tak for din booking</p>
</div>

    